/* Resetar configuração do navegador */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Estilização do body */
body {
    height: 100vh;
    display: flex;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center;     /* Alinhamento vertical */
    background-color: #f4f4f4;
}

/* Centraliza o conteúdo */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.paragrafo-container {
  max-width: 600px;
  text-align: center;
  font-size: 17px !important;
  font-weight: lighter;
  margin-bottom: 20px;
}

.img-container {
    display: flex;
}

.titulo-container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 10px;
    margin-bottom: 20px;
}


.audio-control{
    display: flex;
    cursor: pointer;
}

/* Estilização do Header */
.header {
    height: 100px;
    background-color: #493AA3;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.form-group a {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.header h4 {
    color: white;
    text-align: center;
}

/* Estilização do Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #493AA3;
    color: white;
    text-align: center;
    height: 100px;
}

/* Estilização do botão */
button {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    background-color: #F6ED34;
    border: solid 1px #493AA3;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #493AA3;
    color: white;
    cursor: pointer;
}

/* Estilização do título */
.container h1 {
    font-size: 36px;
    font-weight: normal;
    color: black;
}

.container h4 {
    font-size: 22px;
    font-weight: lighter;
    color: black;
}

/* Avatar e Menu Suspenso */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F6ED34;
    color: #493AA3;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* .dropdown:hover .avatar {
    background-color: black;
} */

/* Estilização do menu */
.dropdown-content a {
    font-size: 14px;
}

/* Responsividade */
@media (max-width: 768px) {
    .zabuto-calendar tbody td {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }
    .zabuto-calendar thead th {
        font-size: 16px;
        padding: 10px;
    }
}
